/* Change font-family to something drastic so we remember to change it everytime */
body {
    font: normal normal 16px/1.5em  Arial;
    padding: 18px;
    width: 300px;
}

p {
    margin: 0;
}

h1 {
    font-size: 16px;
    margin-bottom: 0px;
}

#device-info {
    font-size: 12px;
}

.panel {
    background-color: #CCCCCC;
    height: 96px;
    line-height: 96px;
    margin-top: 5px;
}

.point-72 {
    font-size: 72pt;
}

.pixel-96 {
    font-size: 96px;
}