html, body, div, h1 {
    border: 0;
    font: normal normal 12px/18px monospace;
    margin: 0;
    padding: 0;
}

body {
    padding: 18px;
}

div {
	width: 700px;
}

div.narrow {
	width: 300px;
}

.aller h1 {
    font: normal bold 16px  Aller;
    margin: 15px 0 2px 0;
}

.aller a {
    font: normal normal 14px  Aller;
}

.aller-normal {
    font: normal normal 12px  Aller;
}

.aller-italic {
    font: italic normal 12px  Aller;
}

.aller-bold {
    font: normal bold 12px  Aller;
}

.aller-bold-italic {
    font: italic bold 12px  Aller;
}

.aller-light {
    font: normal 200 12px  Aller;
}

.aller-light-italic {
    font: italic 200 12px  Aller;
}

.arial h1 {
    font: normal bold 16px  Arial;
    margin: 15px 0 2px 0;
}

.arial a {
    font: normal normal 14px  Arial;
}

.arial-normal {
    font: normal normal 12px  Arial;
}

.arial-italic {
    font: italic normal 12px  Arial;
}

.arial-bold {
    font: normal bold 12px  Arial;
}

.arial-bold-italic {
    font: italic bold 12px  Arial;
}

.arial-light {
    font: normal 200 12px  Arial;
}

.arial-light-italic {
    font: italic 200 12px  Arial;
}