/* Change font-family to something drastic so we remember to change it everytime */
body {
    font: normal normal 16px/1.4  monospace;
    padding: 18px;
}

h1 {
    font-size: 16px;
    margin: 16px 0 0 0;
}

div {
	width: 700px;
}

div.narrow {
	width: 300px;
}

.aller {
    font-family: Aller;
}

.arial {
    font-family: Arial;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 200;
}