body {
    font: normal normal 13px/1.4 sans-serif;
    padding: 16px;
}

h1 {
    font-size: 16px;
    margin: 0 0 6px 0;
    text-align: center;
}

#wrapper {
    width: 600px;
    height: 400px;
    margin: 10px auto;
    
    position: relative;
    border: 3px solid #9E2B00
}

/*
    At 5 second animation speed, Chrome and Firefox shows a slightly
    chopped up circle. This effect can be reduced by introducing a
    gradual rotation from 0 to 360 degrees using "transform: rotate(Xdeg)"
    at each keyframe, where X = 0/90/180/270/360.
*/
/* Safari and Chrome */
@-webkit-keyframes bounce-the-ball {
    0%   { left: 0;   top: 0;   }
    25%  { left: 20%; top: 85%; }
    50%  { left: 45%; top: 0;   }
    75%  { left: 70%; top: 85%; }
    100% { left: 90%; top: 0;   }
}

/* Firefox and IE10 */
@keyframes bounce-the-ball {
    0%   { left: 0;   top: 0;   }
    25%  { left: 20%; top: 85%; }
    50%  { left: 45%; top: 0;   }
    75%  { left: 70%; top: 85%; }
    100% { left: 90%; top: 0;   }
}

#ball {
    width: 60px;
    height: 60px;
    background-color: #f6bc0c;
    position: absolute;

    /* make it a circle */
    border-radius: 30px;
    

    /* animate it */
    /* Safari and Chrome */
    -webkit-animation: bounce-the-ball linear 5s infinite;
    -webkit-animation-direction: alternate;

    /* Firefox and IE10 */
    animation: bounce-the-ball linear 5s infinite;
    animation-direction: alternate;
}